.mat-tab-body-content { height: 100%; }

.mat-tab-links {
    display: table;
    width: 100%;

    .mat-tab-link {
        display: table-cell;
    }
}


::ng-deep .mat-ink-bar{
    background-color: #9c27b0;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

/* Meta list */
.meta-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .meta-list-item {
        display: inline-block;
        margin-right: 16px;
        font-size: 12px;
    }
        .meta-list-name {
            display: block;
            font-weight: 700;
        }
            .meta-list-value {
                display: block;
                line-height: 24px;
                font-weight: 300;
            }