
<div style="width:100%;float: left;">
  <mat-form-field class="datePicker" >
      <input matInput [matDatepicker]="picker" [value]="todayDate" (dateChange)="addEvent('change', $event)" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
