<h1 mat-dialog-title>{{data.area.phase}}-{{data.area.floor}}-{{data.area.ext}}</h1>
<div mat-dialog-content>
  <p>Please enter area note</p>
  <mat-form-field class="example-full-width">
    <textarea matInput [(ngModel)]="data.area.comments" placeholder="Leave a comment"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveAreaNote(data.area.$key, data.area.comments)">Save</button>
</div>
