<button
[style.display]="type === 'add' ? '' : 'none'"
(click)="openDialog()"
matTooltip="Add Area"
mat-icon-button class="mat-icon-button" aria-label="add">
  <mat-icon>add</mat-icon>
</button>

<button 
[style.display]="type === 'edit' ? '' : 'none'"
(click)="openDialog()"
matTooltip="Edit Area" 
mat-icon-button class="mat-icon-button" 
aria-label="edit">
  <mat-icon>edit</mat-icon>
</button>

<button 
[style.display]="type === 'delete' ? '' : 'none'"
(click)="openDeleteDialog()"
matTooltip="Delete Area"
mat-icon-button class="mat-icon-button" 
aria-label="delete">
  <mat-icon>delete</mat-icon>
</button>