<h3 mat-dialog-title>{{data.area._id}}</h3>
<mat-dialog-content>
  Please select line for area.
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="areaLine(data.area.$key, 1)">Line 1</button>
  <button mat-button (click)="areaLine(data.area.$key, 2)">Line 2</button>
</div>
