<h1 mat-dialog-title>Add Revision?</h1>
<div mat-dialog-content>
  <p>{{this.text}}</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button [style.display]="buttonClose ? '' : 'none'" (click)="onNoClick()">Ok</button>
  <button mat-raised-button [style.display]="!buttonClick ? '' : 'none'" (click)="onNoClick()">Back</button>
  <button mat-raised-button [style.display]="!buttonClick ? '' : 'none'" (click)="createRevision()">Make Bulk move</button>
</div>