<div *ngIf="loaded">
  <form class="example-form" [formGroup]="projectControl" (ngSubmit)="onSubmit()">
    <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex>
          <mat-card fxFlexFill fxLayoutAlign="center center">              
            <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
              <div fxFlex>
                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput type="text" placeholder="Name" formControlName="name" required>
                  <span *ngIf="projectControl.get('name').pending"> (searching)</span>
                  <span  style="color: red" *ngIf="projectControl.get('name').errors?.projNameExists">
                    Project Name Taken!.
                  </span> 
                  <mat-label>Project Name</mat-label>
                </mat-form-field>
                <app-srd-select [ctr]="projectControl" name="Datum" variant="datumType" [required]="true"></app-srd-select>
              </div>
              <div fxFlex>
                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput type="text" placeholder="Project Number" formControlName="id" required>
                  <span *ngIf="projectControl.get('id').pending"> (searching)</span>
                  <span  style="color: red" *ngIf="projectControl.get('id').errors?.projIdExists">
                    Project Number Taken!.
                  </span>
                  <mat-label>Project Number</mat-label>
                </mat-form-field>
                <app-srd-select [ctr]="projectControl" name="Chain Of Custody" variant="chainOfCustody" [required]="true"></app-srd-select>
              </div>
              <div fxFlex>
                <mat-form-field appearance="outline" class="example-full-width">
                  <input matInput type="text" placeholder="Client" formControlName="client" required>
                  <mat-label>Client</mat-label>
                </mat-form-field>
                <app-srd-select [ctr]="projectControl" name="Vehicle Type" variant="siteAccess" [required]="true"></app-srd-select>
              </div>
            </div>    
          </mat-card>
      </div>
  </div>

  <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div [fxFlex]="33">
      <mat-card [style.min-height.px]="550">
        <mat-card-header>
          <mat-card-title>Site Details</mat-card-title>
        </mat-card-header>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Site Address</mat-label>
          <textarea matInput type="text" cdkTextareaAutosize placeholder="Site Address" formControlName="siteAddress"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Postcode</mat-label>
          <input matInput type="text" placeholder="Postcode" formControlName="postCode">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Duration Of Weeks</mat-label>
          <input matInput type="number" placeholder="Duration Of Weeks" formControlName="weekDuration">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="!siteStarted" class="example-full-width">
          <mat-label>Site Start Date</mat-label>
          <input matInput [min]="minDate" placeholder="Site Start Date" [matDatepicker]="picker" formControlName="siteStart" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="siteStarted" appearance="outline" class="example-full-width">
          <mat-label>Site Start Date</mat-label>
          <input matInput [min]="minDate" placeholder="Site Start Date" [matDatepicker]="picker" formControlName="siteStart2" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="siteStarted && nextDeliveryDateAfterToday" class="example-full-width">
          <mat-label>Next Delivery Date</mat-label>
          <input matInput [min]="minDate" placeholder="Next Delivery Date" [matDatepicker]="picker" formControlName="nextDeliveryDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox matInput formControlName="includeSaturday">Include Saturday</mat-checkbox>
      </mat-card>
    </div>
    <div [fxFlex]="33">
      <mat-card [style.min-height.px]="550">
        <mat-card-header>
          <mat-card-title>Additional Info</mat-card-title>     
        </mat-card-header>
        <app-notification-select [ctr]="projectControl" name="Users To Notify" [userKeys]="userKeys" style="width:50%"></app-notification-select>
        <app-srd-select [ctr]="projectControl" name="Gateway" variant="gateway" [required]="false" style="width:50%"></app-srd-select>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Special Requirements</mat-label>
          <textarea matInput type="text" cdkTextareaAutosize placeholder="Special Requirements" formControlName="specialRequirements"></textarea>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="mb-20" fxLayout="column" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
      <mat-card [style.min-height.px]="550">
        <mat-card-header>
          <mat-card-title>Estimated Areas</mat-card-title>
        </mat-card-header>
        <span formGroupName="estimatedAreas">
          <mat-form-field appearance="outline" class="example-full-width" style="width:50%">
            <mat-label>Est m2 SIP (Ext)</mat-label>
            <input matInput type="number" placeholder="Est m2 SIP (Ext)" min="0" formControlName="Ext" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width" style="width:50%">
            <mat-label>Est m2 TF (Int)</mat-label>
            <input matInput type="number" placeholder="Est m2 TF (Int)" min="0" formControlName="Int" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width" style="width:50%">
            <mat-label>Est m2 CASS (Roof)</mat-label>
            <input matInput type="number" placeholder="Est m2 CASS (Roof)" min="0" formControlName="Roof" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width" style="width:50%">
            <mat-label>Est m2 CASS (Floor)</mat-label>
            <input matInput type="number" placeholder="Est m2 CASS (Floor)" min="0" formControlName="Floor" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width" fxFlex>
            <mat-label>Est m2 IFAST (ExtF)</mat-label>
            <input matInput type="number" placeholder="Est m2 IFAST (ExtF)" min="0" formControlName="ExtF" required>
          </mat-form-field>
        </span>
      </mat-card>
    </div>
  </div>

  <div fxFlex>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Key People</mat-card-title>
      </mat-card-header>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <app-associated-users-select fxFlex [ctr]="projectControl" name="Delivery Manager" variant="delivery-manager" [required]="false"></app-associated-users-select>
        <app-associated-users-select fxFlex [ctr]="additionalControl" name="Site Ops" variant="site-ops" [required]="false"></app-associated-users-select>
        <app-associated-users-select fxFlex [ctr]="additionalControl" name="Designer" variant="designer" [required]="false"></app-associated-users-select>
        <app-associated-users-select fxFlex [ctr]="additionalControl" name="Quantity Surveyor" variant="quantity-surveyor" [required]="false"></app-associated-users-select>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <app-associated-users-select fxFlex [ctr]="additionalControl" name="Engineer" variant="engineer" [required]="false"></app-associated-users-select>
        <app-srd-select fxFlex [ctr]="additionalControl" name="Team" variant="team" [required]="false"></app-srd-select>
        <app-srd-select fxFlex [ctr]="additionalControl" name="Installer" variant="installer" [required]="false"></app-srd-select>
      </div>
    </mat-card>
  </div>

  <mat-card > 
    <button mat-raised-button [disabled]="!projectControl.valid || !projectControl.dirty && (additionalControl && !additionalControl.dirty) || submitted" type="submit">Save</button>
  </mat-card>
  </form>
</div>
