<h1 mat-dialog-title>{{data.component.componentName | numbersFromString}}</h1>
<div mat-dialog-content>
  <p>Please enter component note</p>
  <mat-form-field class="example-full-width">
    <textarea matInput [(ngModel)]="data.component.comments" placeholder="Leave a comment"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveComponentNote(data.component.componentId, data.component.comments)">Save</button>
</div>
