html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

::ng-deep .tooltip {
  font: size 10vm !important;
  cursor: pointer !important;
}

.main-container {
    position: absolute;
    top: 64px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.container-out{
    left: 50px;
}

.mb-20 {
    margin-bottom: 20px;
}

.loader-container {
    background-color: transparent;
    width: 98%;
    height: 100vh;
    z-index: 2000;
    position: absolute;

    overflow-x: hidden;

    -moz-animation: cssAnimation 1s ease-in 15s forwards;
    /* Firefox */
    animation: cssAnimation 1s ease-in 15s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 1s ease-in 15s forwards;
    /* Opera */
    animation: cssAnimation 1s ease-in 15s forwards;
    animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        opacity:0;
        display: none;
        visibility:hidden;
    }
}
@keyframes cssAnimation {
    to {
        visibility:hidden;
        opacity:0;
        display: none;
    }
}

.spinner {
  margin: 50vh auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;


  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce3 {
    background-color: #BED600;
  }
  
.spinner .bounce1 {
    background-color: #EAF498;
    animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    background-color: #9c27b0; 
    animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.innviewSnack{
  background: #9c27b0; 
}

.innviewColour{
  color: #9c27b0;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
    transform: scale(1.0);
  }
}

