<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div *ngIf="loaded" fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="table-component-holder mat-elevation-z4">
    <mat-toolbar>
      <span>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </span>
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space">
        {{projectStats.label}}
      </span>

      <app-data-export [data]=areasStats.areasExport></app-data-export>

    </mat-toolbar>

    <mat-grid-list cols="21" rowHeight="2:1">
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Area</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Component</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Delivery Date<br>Revision {{areasStats.revision | revisionCount}}</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Design Handover</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Start Date</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Finish Date</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Handover Conf.</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">Risk</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Estimated</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Actual</mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Completed</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Count</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">m2</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Count</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">m2</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">Count</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">m2</mat-grid-tile>
    </mat-grid-list>
      
    <ng-container *ngFor="let stats of dataSource.filteredData;" (click)="getPanels(area)">
      <mat-grid-list (click)="sendToMainComponent(stats)" class="list-cell" cols="21" rowHeight="2:1">
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.label}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.component}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.delivery | date:"EEE dd-MMM-yy"}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.designHandoverDate | date:"EEE dd-MMM-yy"}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.plan.plannedStart | date:"EEE dd-MMM-yy"}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.plan.plannedFinish | date:"EEE dd-MMM-yy"}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="2">{{stats.handoverConfirmed | date:"EEE dd-MMM-yy"}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1"><span *ngIf="stats.risk.days < 0" [ngClass]="stats.risk.past ? 'minusdaysRed' : 'minusdaysGrey'">{{stats.risk.days | riskDays}}</span></mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.estimated.count}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.estimated.area}}</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true, 'actuals-med-risk': stats.risk.medium, 'actuals-high-risk': stats.risk.high}" [colspan]="1">{{stats.actual.count}}<br/>({{stats.actual.countPercentage}}%)</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.actual.area}}<br/>({{stats.actual.areaPercentage}}%)</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.completed.count}}<br/>({{stats.completed.countPercentage}}%)</mat-grid-tile>
          <mat-grid-tile [ngClass]="{gridBorder: true}" [colspan]="1">{{stats.completed.area}}<br/>({{stats.completed.areaPercentage}}%)</mat-grid-tile>
      </mat-grid-list>
    </ng-container>

  </div>

</div>
        
