<div class="login-page">
    <div class="content">
        <div class="login-form" fxFlex  >
            <div class="text-center">
                <button *ngIf="project" mat-icon-button matTooltip="Link to revisions" (click)="routeToOLdInnview()">
                    <mat-icon>gavel</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>