<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div *ngIf="loaded" class="layout-container">
  <mat-card>
    <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="9">
        <mat-form-field (click)="open(picker3)">
          <input matInput [min]="minDate" [matDatepicker]="picker3" [value]="plan.viewStart "  (dateChange)="addEvent('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker (click)="open(picker3)" #picker3 [calendarHeaderComponent]="dateHeader"></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"><mat-checkbox [(ngModel)]="productionLineFilter['SIP']"></mat-checkbox></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">SIP1/ Ext. Wall</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="'SIP'" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type]['SIP'][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="9"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"><mat-checkbox [(ngModel)]="productionLineFilter['SIP2']"></mat-checkbox></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">SIP2/ Ext. Wall</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="'SIP2'" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type]['SIP2'][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="9">
        <mat-button-toggle 
          [checked]="toggleCount['action']" 
          (change)="isMeterSquaredChecked($event.source.checked)">
            Toggle Metre Squared
        </mat-button-toggle>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"><mat-checkbox [(ngModel)]="productionLineFilter['HSIP']"></mat-checkbox></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">HSIP/ Ext. Wall</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="'HSIP'" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type]['HSIP'][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="9"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"><mat-checkbox [(ngModel)]="productionLineFilter['IFAST']"></mat-checkbox></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">IFAST/ Ext. Wall</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="'IFAST'" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type]['IFAST'][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="9"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"><mat-checkbox [(ngModel)]="productionLineFilter['TF']"></mat-checkbox></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">TF/ Int. Wall</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="'TF'" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type]['TF'][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1">
        <mat-grid-tile [colspan]="9">
          <mat-button-toggle 
            [checked]="toggleType['actual']" 
            (change)="toggleType['actual'] = $event.source.checked">
              Actual
          </mat-button-toggle>
          <mat-button-toggle 
            [checked]="toggleType['design']" 
            (change)="toggleType['design'] = $event.source.checked">
              Design
          </mat-button-toggle>
          <mat-button-toggle 
            [checked]="toggleType['est']" 
            (change)="toggleType['est'] = $event.source.checked">
              Est
          </mat-button-toggle>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1"><mat-checkbox [(ngModel)]="productionLineFilter['TF2']"></mat-checkbox></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">TF2/ Int. Wall</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="'TF2'" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type]['TF2'][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
      </mat-grid-list>

    <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="9"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"><mat-checkbox [(ngModel)]="productionLineFilter['CASS']"></mat-checkbox></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">CASS / Roof</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn"><app-capacity-input (saveState)="saveState($event)" [productionLine]="'CASS'" [type]="m2Type" [plan]="plan" [date]="i" [capacity]="plan.capacity[m2Type]['CASS'][i] | numberZero : m2Type : (i % 7) >= 5"></app-capacity-input></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list *ngIf="m2Type === 'm2'" gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="9"></mat-grid-tile>
      <mat-grid-tile [colspan]="1"></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">Total Lines</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let i of this.days; trackBy: trackByFn">{{plan.capacity['total'][i] | numberZero : m2Type : (i % 7) >= 5}}</mat-grid-tile>
    </mat-grid-list>
  </mat-card>

  <mat-card>
    <mat-grid-list class="sticky" gutterSize="0" cols="33" rowHeight="1:1">
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><app-data-export [data]=exportAreas></app-data-export></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Line</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"></mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Area</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Qts</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Comp.</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Perc.</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">
        <span (click)="updateSort('_dispatchDate')" class="sortClick">
          <span *ngIf="fieldFilters.indexOf('_dispatchDate') !== -1" class="sortCircle">{{fieldFilters.indexOf('_dispatchDate') + 1}}</span>
          <br>
          <span>Disp.</span>
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">
        <span (click)="updateSort('_productionStartDate')" class="sortClick">
          <span *ngIf="fieldFilters.indexOf('_productionStartDate') !== -1" class="sortCircle">{{fieldFilters.indexOf('_productionStartDate') + 1}}</span>
          <br>
          <span>Start</span>
        </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}">
          <span (click)="updateSort('_productionEndDate')" class="sortClick">
            <span *ngIf="fieldFilters.indexOf('_productionEndDate') !== -1" class="sortCircle">{{fieldFilters.indexOf('_productionEndDate') + 1}}</span>
            <br>
            <span>End</span>
          </span>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2" [ngClass]="{header: true, gridBorder: true}"><br>Risk</mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">{{weekStart(0) | date:'dd-MMM'}} &mdash; {{weekFinish(0) | date:'dd-MMM'}}</mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">{{weekStart(1) | date:'dd-MMM'}} &mdash; {{weekFinish(1) | date:'dd-MMM'}}</mat-grid-tile>
      <mat-grid-tile [colspan]="7" [rowspan]="1" [ngClass]="{header: true, gridBorder: true}">{{weekStart(2) | date:'dd-MMM'}} &mdash; {{weekFinish(2) | date:'dd-MMM'}}</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [ngClass]="{header: true, gridBorder: true}" [ngClass]="currentHeader: i === plan.current" *ngFor="let heading of dayHeadings; index as i;trackBy: trackByFn">{{heading}}</mat-grid-tile>
    </mat-grid-list>
    <div *ngFor="let area of plan.areas; index as i;">
      <mat-grid-list gutterSize="0" cols="33" rowHeight="1:1" *ngIf="productionLineFilter[area._productionLine] && (toggleType[area._stats.oneTrue] || area._stats.oneTrue === 'none')">
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}"><mat-checkbox *ngIf="area._hasUnpublished" [(ngModel)]="areasSelection[area.$key]" (change)="initiatePlan()"></mat-checkbox></mat-grid-tile>
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}">
          <app-select-line [area]="area"></app-select-line>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}"><app-handover-confirmed [area]="area"></app-handover-confirmed></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [ngClass]="{gridBorder: true}">{{area._id}}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" *ngIf="area._stats.oneTrue === 'actual'" class="{{area._stats.type}}" [ngClass]="{gridBorder: true}"><app-panel-tooltip class="panel-tip" [area]="area"></app-panel-tooltip></mat-grid-tile>
        <mat-grid-tile [colspan]="1" *ngIf="area._stats.oneTrue !== 'actual'" class="{{area._stats.type}}" [ngClass]="{gridBorder: true}">{{area._stats.display}}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}">{{area._stats.completed}}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}">{{area._stats.percent}} %</mat-grid-tile>
        <mat-grid-tile [colspan]="1" *ngIf="!useUnpublished(area)" [ngClass]="{gridBorder: true, dashed: area._hasUnpublished}">{{area._dispatchDate | date: 'dd-MMM'}}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" *ngIf="useUnpublished(area)" [ngClass]="{gridBorder: true}"><s>{{area._dispatchDate | date: 'dd-MMM'}}</s><br/>{{area._unpublishedDispatchDate | date: 'dd-MMM'}}</mat-grid-tile>
       
       
        <mat-grid-tile [colspan]="1" [ngClass]="{startDate: areaUserChange(area), gridBorder: true}">
          <app-start-date-picker  (startChange)="startChange($event)" [startDate]="area._productionStartDate" [area]="area"></app-start-date-picker>
        </mat-grid-tile>
       
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}">{{useUnpublishedOnly(area) ? '' : area._productionEndDate | date: 'dd-MMM'}}</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [ngClass]="{gridBorder: true}"><span [ngClass]="{minusdays: atRisk(area)}">{{getRiskDays(area)}}</span></mat-grid-tile>
        <mat-grid-tile [colspan]="1" class="{{area._stats.oneTrue}}" [ngClass]="{gridBorder: true, current: i === plan.current, weekend: (i % 7) >= 5}" *ngFor="let panels of area._productionPlan; index as i;trackBy: trackByFn">{{panels[m2Type] | numberZero : m2Type}}</mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card>
</div>