<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<mat-card *ngIf="loaded">
  <mat-grid-list cols="5" rowHeight="fit" class="pp-grid-list">
      
      <mat-grid-tile [rowspan]="2" class="titleFont">
        Availability
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" class="titleFont">
        Production
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2"  class="titleFont">
        Designed
      </mat-grid-tile>
      <mat-grid-tile class="titleFont">
        Count
      </mat-grid-tile>
      <mat-grid-tile class="titleFont">
        (M2)
      </mat-grid-tile>
      <mat-grid-tile class="titleFont">
        Count
      </mat-grid-tile>
      <mat-grid-tile class="titleFont">
        (M2)
      </mat-grid-tile>
      <!-- sip -->
      <mat-grid-tile class="productionLineFont">SIP</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["SIP"].designIssued || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["SIP"].designIssuedM2 || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["SIP"].count || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["SIP"].m2 || 0}}</mat-grid-tile>

      <!-- HSIP -->
      <mat-grid-tile class="productionLineFont">HSIP</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["HSIP"].designIssued || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["HSIP"].designIssuedM2 || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["HSIP"].count || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["HSIP"].m2 || 0}}</mat-grid-tile>

      <!-- IFAST -->
      <mat-grid-tile class="productionLineFont">IFAST</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["IFAST"].designIssued || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["IFAST"].designIssuedM2 || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["IFAST"].count || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["IFAST"].m2 || 0}}</mat-grid-tile>

      <!-- TF -->
      <mat-grid-tile class="productionLineFont">TF</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["TF"].designIssued || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["TF"].designIssuedM2 || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["TF"].count || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["TF"].m2 || 0}}</mat-grid-tile>

      <!-- CASS -->
      <mat-grid-tile class="productionLineFont">CASS</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["CASS"].designIssued || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.each["CASS"].designIssuedM2 || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["CASS"].count || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["CASS"].m2 || 0}}</mat-grid-tile>

      <!-- //totals -->
      <mat-grid-tile class="productionLineFont">TOTAL</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.totalDesignIssued || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{designIssued.totalDesignIssuedM2 || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["TOTAL"].count || 0}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{checkedDFMRange["TOTAL"].m2 || 0}}</mat-grid-tile>

  </mat-grid-list>
</mat-card>