
<mat-form-field class="startDatePicker" (click)="open(picker2)">
  <input matInput [min]="minDate" [matDatepicker]="picker2" [value]="startDate" (dateChange)="startDateChange('change', $event)">
  <mat-datepicker #picker2 [calendarHeaderComponent]="dateHeader"></mat-datepicker>
</mat-form-field>
