<span *ngIf="loaded">
    <app-stacked-grouped-chart [title]="'SIP'" [chartData]="this.chartData.weekData['SIP']" [chartColours]="this.chartData.gatewayData"></app-stacked-grouped-chart>
    <app-stacked-grouped-chart [title]="'HSIP'" [chartData]="this.chartData.weekData['HSIP']" [chartColours]="this.chartData.gatewayData"></app-stacked-grouped-chart>
    <app-stacked-grouped-chart [title]="'IFAST'" [chartData]="this.chartData.weekData['IFAST']" [chartColours]="this.chartData.gatewayData"></app-stacked-grouped-chart>
    <app-stacked-grouped-chart [title]="'TF'" [chartData]="this.chartData.weekData['TF']" [chartColours]="this.chartData.gatewayData"></app-stacked-grouped-chart>
    <app-stacked-grouped-chart [title]="'CASS'" [chartData]="this.chartData.weekData['CASS']" [chartColours]="this.chartData.gatewayData"></app-stacked-grouped-chart>
</span>