.datePicker{
    width: 100%;
    font-size: 1.5vw;
    text-align: center;
    font-family: sans-serif;
    height: 100%;
    margin-top: 3%;
    font-weight: bolder;
    vertical-align: middle;
}

::ng-deep .mat-form-field-underline {
    display: none;
}