<!-- loader -->
<div *ngIf="!loaded || !loaded2" class="loader-container" >
  <div class="spinner"> 
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<mat-card *ngIf="loaded && loaded2">
  <mat-grid-list cols="9" rowHeight="fit" class="pp-grid-list">
      <mat-grid-tile>
      <app-current-date (currentDateChange)="currentDateChange($event)" [todayDate]="today" style="width:100%" ></app-current-date>
      </mat-grid-tile>
      <mat-grid-tile class="titleFont">Target</mat-grid-tile>
      <mat-grid-tile class="titleFont">Target m<sup>2</sup></mat-grid-tile>
      <mat-grid-tile class="titleFont">By Now</mat-grid-tile>
      <mat-grid-tile class="titleFont">Panel Qty</mat-grid-tile>
      <mat-grid-tile class="titleFont">Panel m2</mat-grid-tile>
      <mat-grid-tile class="titleFont">In Progress</mat-grid-tile>
      <mat-grid-tile class="titleFont">Day Target</mat-grid-tile>
      <mat-grid-tile class="titleFont">At Risk</mat-grid-tile>
      <!-- SIP -->
      <mat-grid-tile class="titleFont">SIP</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{target["SIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{plannedM2["SIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{now | byNow : target["SIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['SIP'].completedToday, now | byNow : target['SIP'])">{{statsMapped.each["SIP"].completedToday}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["SIP"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["SIP"].started}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['SIP'].completedToday - target['SIP'],-6,-5,0)">{{statsMapped.each["SIP"].completedToday - target["SIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{getLowestRisk(atRisk["SIP"])}}</mat-grid-tile>
      <!-- HSIP -->
      <mat-grid-tile class="titleFont">HSIP</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{target["HSIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{plannedM2["HSIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{now | byNow : target["HSIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['HSIP'].completedToday, now | byNow : target['HSIP'])">{{statsMapped.each["HSIP"].completedToday}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["HSIP"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["HSIP"].started}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['HSIP'].completedToday - target['HSIP'],-6,-5,0)">{{statsMapped.each["HSIP"].completedToday - target["HSIP"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{getLowestRisk(atRisk["HSIP"])}}</mat-grid-tile>
      <!-- IFAST -->
      <mat-grid-tile class="titleFont">IFAST</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{target["IFAST"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{plannedM2["IFAST"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{now | byNow : target["IFAST"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['IFAST'].completedToday, now | byNow : target['IFAST'])">{{statsMapped.each["IFAST"].completedToday}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["IFAST"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["IFAST"].started}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['IFAST'].completedToday - target['IFAST'],-6,-5,0)">{{statsMapped.each["IFAST"].completedToday - target["IFAST"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{getLowestRisk(atRisk["IFAST"])}}</mat-grid-tile>
      <!-- TF -->
      <mat-grid-tile class="titleFont">TF</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{target["TF"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{plannedM2["TF"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{now | byNow : target["TF"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['TF'].completedToday, now | byNow : target['TF'])">{{statsMapped.each["TF"].completedToday}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["TF"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["TF"].started}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['TF'].completedToday - target['TF'],-6,-5,0)">{{statsMapped.each["TF"].completedToday - target["TF"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{getLowestRisk(atRisk["TF"])}}</mat-grid-tile>
      <!-- CASS -->
      <mat-grid-tile class="titleFont">CASS</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{target["CASS"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{plannedM2["CASS"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{now | byNow : target["CASS"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(statsMapped.each['CASS'].completedToday, now | byNow : target['CASS'])">{{statsMapped.each["CASS"].completedToday}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["CASS"].completedM2Today}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.each["CASS"].started}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(today, statsMapped.each['CASS'].completedToday - target['CASS'],-6,-5,0)">{{statsMapped.each["CASS"].completedToday - target["CASS"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{getLowestRisk(atRisk["CASS"])}}</mat-grid-tile>
      <!-- TOTAL -->
      <mat-grid-tile class="titleFont">TOTAL</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{target["SIP"] + target["HSIP"] + target["IFAST"] + target["TF"] + target["CASS"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{plannedM2["SIP"] + plannedM2["HSIP"] + plannedM2["IFAST"] + plannedM2["TF"] + plannedM2["CASS"]}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{(now | byNow : target["SIP"]) + (now | byNow : target["HSIP"]) + (now | byNow : target["IFAST"]) + (now | byNow : target["TF"]) + (now | byNow : target["CASS"])}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.totalCompletedToday}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.totalCompletedM2Today}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{statsMapped.totalStarted + statsMapped.each["HSIP"].started + statsMapped.each["IFAST"].started + statsMapped.each["TF"].started + statsMapped.each["CASS"].started}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont">{{(statsMapped.each["SIP"].completedToday - target["SIP"]) + (statsMapped.each["HSIP"].completedToday - target["HSIP"]) + (statsMapped.each["IFAST"].completedToday - target["IFAST"]) + (statsMapped.each["TF"].completedToday - target["TF"]) + (statsMapped.each["CASS"].completedToday - target["CASS"])}}</mat-grid-tile>
      <mat-grid-tile class="productionLineFont"></mat-grid-tile>
  </mat-grid-list>
</mat-card> 