<!-- loader -->
<div *ngIf="!loaded" class="loader-container" >
    <div class="spinner"> 
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  

<mat-card *ngIf="loaded">
    <mat-grid-list cols="9" rowHeight="fit" class="pp-grid-list">
        <mat-grid-tile>
        <app-current-date (currentDateChange)="currentDateChange($event)" [todayDate]="today" style="width:100%" ></app-current-date>
        </mat-grid-tile>
        <mat-grid-tile class="titleFont">Target</mat-grid-tile>
        <mat-grid-tile class="titleFont">Target m<sup>2</sup></mat-grid-tile>
        <mat-grid-tile class="titleFont">By Now</mat-grid-tile>
        <mat-grid-tile class="titleFont">Panel Qty</mat-grid-tile>
        <mat-grid-tile class="titleFont">Panel m2</mat-grid-tile>
        <mat-grid-tile class="titleFont">In Progress</mat-grid-tile>
        <mat-grid-tile class="titleFont">Day Target</mat-grid-tile>
        <mat-grid-tile class="titleFont">At Risk</mat-grid-tile>
        <!-- sip -->
        <mat-grid-tile class="titleFont">SIP</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{capacityMapped["SIP"][today] || defaultCapacities["SIP"]}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getCapacityTotalForProduction("SIP")|| "~"}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{"byNow" | byNow: capacityMapped["SIP"][today] || defaultCapacities["SIP"]}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(getPanelQty('SIP',today,'completedCount'),'byNow' | byNow: target('SIP',today))">{{getPanelQty("SIP",today,"completedCount")}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="getTextSize(getPanelQty('SIP',today,'completedM2'))">{{getPanelQty("SIP",today,"completedM2") | number:'1.1-1'}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getInProgressCount("SIP")}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(dayTarget('SIP', today),-6,-5,0)">{{dayTarget("SIP", today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getGreatestRisks("SIP")}}</mat-grid-tile>
        <!-- Hsip -->
        <mat-grid-tile class="titleFont">HSIP</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{capacityMapped["HSIP"][today] || defaultCapacities["HSIP"]}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getCapacityTotalForProduction("HSIP")|| "~"}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{"byNow" | byNow: target("HSIP",today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(getPanelQty('HSIP',today,'completedCount'),'byNow' | byNow: target('HSIP',today))">{{getPanelQty("HSIP",today,"completedCount")}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="getTextSize(getPanelQty('HSIP',today,'completedM2'))">{{getPanelQty("HSIP",today,"completedM2") | number:'1.1-1'}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getInProgressCount("HSIP")}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(dayTarget('HSIP', today),-6,-5,0)">{{dayTarget("HSIP", today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getGreatestRisks("HSIP")}}</mat-grid-tile>
        <!-- Hsip -->
        <mat-grid-tile class="titleFont">IFAST</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{target("IFAST",today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getCapacityTotalForProduction("IFAST")|| "~"}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{"byNow" | byNow: target("IFAST",today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(getPanelQty('IFAST',today,'completedCount'),'byNow' | byNow: target('IFAST',today))">{{getPanelQty("IFAST",today,"completedCount")}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="getTextSize(getPanelQty('IFAST',today,'completedM2'))">{{getPanelQty("IFAST",today,"completedM2") | number:'1.1-1'}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getInProgressCount("IFAST")}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(dayTarget('IFAST', today),-6,-5,0)">{{dayTarget("IFAST", today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getGreatestRisks("IFAST")}}</mat-grid-tile>
        <!-- TF -->
        <mat-grid-tile class="titleFont">TF</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{target("TF",today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getCapacityTotalForProduction("TF")|| "~"}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{"byNow" | byNow: target("TF",today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(getPanelQty('TF',today,'completedCount'),'byNow' | byNow: target('TF',today))">{{getPanelQty("TF",today,"completedCount")}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="getTextSize(getPanelQty('TF',today,'completedM2'))">{{getPanelQty("TF",today,"completedM2") | number:'1.1-1'}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getInProgressCount("TF")}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(dayTarget('TF', today),-6,-5,0)">{{dayTarget("TF", today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getGreatestRisks("TF")}}</mat-grid-tile>
        <!-- CASS -->
        <mat-grid-tile class="titleFont">CASS</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{target("CASS",today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getCapacityTotalForProduction("CASS") || "~"}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{"byNow" | byNow: target("CASS",today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="colorIndicator(getPanelQty('CASS',today,'completedCount'),'byNow' | byNow: target('CASS',today))">{{getPanelQty("CASS",today,"completedCount")}}</mat-grid-tile>
        <mat-grid-tile [ngClass]="getTextSize(getPanelQty('CASS',today,'completedM2'))">{{getPanelQty("CASS",today,"completedM2") | number:'1.1-1'}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont">{{getInProgressCount("CASS")}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" [ngClass]="dayTargetColorIndicator(dayTarget('CASS', today),-6,-5,0)">{{dayTarget("CASS", today)}}</mat-grid-tile>
        <mat-grid-tile class="productionLineFont" >{{getGreatestRisks("CASS")}}</mat-grid-tile>
        <!-- //totals -->
        <mat-grid-tile colspan="1" class="titleFont">Totals :</mat-grid-tile>
        <mat-grid-tile colspan="1" class="productionLineFont">{{ targetTotals(today)}}</mat-grid-tile>
        <mat-grid-tile colspan="1" class="productionLineFont">{{ getCapacityTotalForProduction("CASS") + getCapacityTotalForProduction("SIP") + getCapacityTotalForProduction("TF") + getCapacityTotalForProduction("HSIP") + getCapacityTotalForProduction("IFAST") || "~"}}</mat-grid-tile>
        <mat-grid-tile colspan="1" class="productionLineFont">{{("byNow" | byNow: target("CASS",today)) + ("byNow" | byNow: target("TF",today)) + ("byNow" | byNow: target("SIP",today)) + ("byNow" | byNow: target("HSIP",today)) + ("byNow" | byNow: target("IFAST",today))}}</mat-grid-tile>
        <mat-grid-tile colspan="1" class="productionLineFont">{{ getAllPanelsCompleted(today,"completedCount") }}</mat-grid-tile>
        <mat-grid-tile colspan="1" [ngClass]="getTextSize(getAllPanelsCompleted(today,'completedM2'))">{{ getAllPanelsCompleted(today,"completedM2") | number:'1.1-1'}}</mat-grid-tile>
        <mat-grid-tile colspan="1" class="productionLineFont">{{ getAllInProgress() }}</mat-grid-tile>
        <mat-grid-tile colspan="1" class="productionLineFont">{{ getTotalDayTarget(today) }}</mat-grid-tile>
        <mat-grid-tile colspan="1" ></mat-grid-tile>
    </mat-grid-list>
</mat-card> 