<div [formGroup]="ctr">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>{{name}}</mat-label>
    <mat-select formControlName="notifyUsers" multiple>
    <!-- <mat-select-trigger>
        {{ctr.get('notifyUsers') ? ctr.get('notifyUsers')[0] : ''}}
        <span *ngIf="userKeys?.length > 1" class="example-additional-selection">
          (+{{ctr.get('notifyUsers').length - 1}} {{ctr.get('notifyUsers')?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger> -->
      <mat-option *ngFor="let user of users" [value]="user.$key">
          {{user.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="ctr.hasError('required')">Please choose an {{name}}</mat-error>
  </mat-form-field>
</div>