<form *ngIf="loaded" class="example-form" [formGroup]="materialControl" (ngSubmit)="onSubmit()">


  <mat-toolbar style="min-height:64px !important">
    <span>Innovare Systems Material Request Form</span>
  </mat-toolbar>     

  <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card fxFlexFill fxLayoutAlign="center center">              
          <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
            <div fxFlex>
              <mat-form-field appearance="outline" class="example-full-width">
                <input matInput type="text" placeholder="Person Requesting" formControlName="person" required>
                <mat-label>Person Requesting</mat-label>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <input matInput type="text" placeholder="Email Address" formControlName="email" required>
                <mat-label>Email Address</mat-label>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline" class="example-full-width">
                <input matInput type="text" placeholder="Project Number" formControlName="projectId" [matAutocomplete]="auto" required>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <input matInput type="text" placeholder="Project Name" formControlName="projectName" required>
                <mat-label>Project Name</mat-label>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Reasoning</mat-label>
                <mat-select formControlName="reason">
                  <mat-option *ngFor="let reason of reasons" [value]="reason.name">
                    {{reason.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="example-full-width">
                <input matInput type="text" placeholder="Main Contractor" formControlName="mainContractor">
                <mat-label>Main Contractor</mat-label>
              </mat-form-field>
            </div>
          </div>    
        </mat-card>
    </div>
</div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div [fxFlex]="50">
    <mat-card>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Date Required</mat-label>
        <input matInput [min]="minDate" placeholder="Date Required" [matDatepicker]="picker" formControlName="dateRequired" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput type="text" placeholder="siteContact" formControlName="siteContact">
        <mat-label>Site Contact</mat-label>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <input matInput type="number" placeholder="Site Contact No" formControlName="siteContactNo">
        <mat-label>Site Contact No.</mat-label>
      </mat-form-field>
    </mat-card>
  </div>
  <div [fxFlex]="50">
    <mat-card>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Material Required</mat-label>
        <textarea matInput type="text" cdkTextareaAutosize cdkAutosizeMinRows=11 placeholder="Material Required" formControlName="materialRequired"></textarea>
      </mat-form-field>
    </mat-card>
  </div>
</div>

<mat-card >
  <mat-card-header>
    <mat-card-title>PLEASE NOTE: Material request should be actioned within 24hrs.</mat-card-title>
  </mat-card-header>
  <button [routerLinkActive]="'active'" [routerLink]="['/material-request']" (click)="back()" mat-raised-button>Back</button>
  <button [disabled]="!materialControl.valid || !materialControl.dirty || submitted" class="floatRight" mat-raised-button type="submit">Submit Material Request</button>
</mat-card>


</form>
