.deliveryDatePicker{
  text-align: center;
}

// ::ng-deep .mat-form-field {
//   text-align: center;
// }

::ng-deep .mat-form-field-underline {
  display: none;
}

.printId{
    display:none;
  }
  
  @media print{
    .printId{
      display: block;
      text-align: center;
      margin-top:5%;
    }
    .deliveryDatePicker{
        display: none;
    }
  }