<h3 mat-dialog-title>{{data.area._id}}</h3>
<mat-progress-bar *ngIf="data.loading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!data.loading">
  <mat-grid-list class="header" mat-dialog-title cols="4" rowHeight="4:1">
    <mat-grid-tile >Panel</mat-grid-tile>
    <mat-grid-tile >Framing - Sheathing</mat-grid-tile>
    <mat-grid-tile >Metre Squared (m2)</mat-grid-tile>
    <mat-grid-tile >Complete</mat-grid-tile>
  </mat-grid-list>
  <mat-dialog-content >
    <mat-grid-list  class="gridBorder" cols="4" rowHeight="4:1" *ngFor="let panel of data.panels">
      <mat-grid-tile>{{panel.id}}</mat-grid-tile>
      <mat-grid-tile>{{panel.framingStyle}}</mat-grid-tile>
      <mat-grid-tile>{{parseNumber(panel.m2)}}</mat-grid-tile>
      <mat-grid-tile *ngIf="panel.completed"><mat-icon class="greenMark">check</mat-icon></mat-grid-tile>
      <mat-grid-tile *ngIf="!panel.completed"><mat-icon class="redMark">close</mat-icon></mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
  </div>
</div>