$gray:#E2E2E2;

.greenMark {
    color: green;
}

.redMark {
    color: red;
}

.gridBorder {
    border: 0.5px solid $gray;
}


.header{
    margin:0px;
    width: 98%;
    text-align: center;
    font-weight: bolder;
    border:black 1px solid;
}

mat-figure{
    padding:5px;
}