
.capacity-form {
    width: 100%;
}

.capacity-input {
    width: 100%;
    text-align: center;
    height: 100%;
    font-family: 'Fontil Sans';
    border-color: transparent;
    background: transparent;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}