<form class="capacity-form">
    <input *ngIf="type === 'count'" class="capacity-input" #box
    (change)="update()"
    [(ngModel)]="capacity" 
    maxlength="4"
    type="number"
    [ngModelOptions]="{getterSetter: true, allowInvalid: true, debounce: 500, standalone: true}">
    <span *ngIf="type !== 'count'">{{capacity}}</span>
</form>
